* {
  box-sizing: border-box;
  margin: 0; }

body, .cella {
  font-family: 'Open Sans', sans-serif;
  background: #f6f6f6;
  color: #000;
  max-width: calc(100vw - (100vw - 100%)); }

.cella .center-text {
  text-align: center; }

.cella .code-quote {
  background: #e1cee7;
  font-size: 13px;
  text-align: left;
  position: relative;
  display: block;
  padding: 13px;
  border-left: solid 4px #ff1b4e; }
  .cella .code-quote .ctcb {
    background: transparent;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;
    padding: 0;
    border: none; }
    .cella .code-quote .ctcb i {
      font-size: 18px; }

.cella .cella-hero {
  background-color: #000;
  background-image: url("./bg.jpg");
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; }
  .cella .cella-hero .cella-hero-hol {
    color: #fff;
    text-align: center; }
    .cella .cella-hero .cella-hero-hol h1 {
      font-family: 'Merriweather', serif;
      font-size: 55px;
      margin: 0 0 30px 0; }
    .cella .cella-hero .cella-hero-hol p {
      font-size: 16px;
      margin: 0 0 20px 0; }
    .cella .cella-hero .cella-hero-hol div a {
      font-size: 20px;
      margin: 0 5px; }

.cella .cella-body {
  padding-top: 50px;
  min-height: 100vh; }
  .cella .cella-body .cella-intro {
    min-height: 50vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0 0 80px 0; }
  .cella .cella-body .cella-sec {
    margin: 0 0 30px 0; }
    .cella .cella-body .cella-sec .cella-sec-title {
      font-family: 'Quicksand', sans-serif;
      margin: 0 0 15px 0; }
    .cella .cella-body .cella-sec.installation h3 {
      font-size: 22px; }
    .cella .cella-body .cella-sec.installation .install-block {
      margin: 0 0 30px 0; }
    .cella .cella-body .cella-sec.features {
      margin: auto 0 0 0; }
      .cella .cella-body .cella-sec.features .cella-feature {
        height: 100%;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        padding: 15px;
        border: solid #dedede 1px;
        border-radius: 4px; }
        .cella .cella-body .cella-sec.features .cella-feature h3 {
          font-size: 20px;
          font-family: 'Merriweather', serif;
          color: #ff1b4e; }
        .cella .cella-body .cella-sec.features .cella-feature p {
          font-size: 14px; }
        .cella .cella-body .cella-sec.features .cella-feature a {
          margin: auto 0 0 0; }
    .cella .cella-body .cella-sec.about {
      margin: 0 0 80px 0; }
      .cella .cella-body .cella-sec.about p {
        font-size: 14px; }

.cella .cella-footer {
  background: #111;
  text-align: center;
  margin: 0;
  padding: 10px; }
  .cella .cella-footer div.f-hol:not(:last-of-type) {
    margin: 10px 0; }
